[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Name=Ventoy
Exec=su -c "bash /opt/ventoy/VentoyWeb.sh"
Icon=/opt/ventoy/WebUI/favicon.ico
Comment=
Path=/opt/ventoy
StartupNotify=false
